version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: fastapi_backend
    ports:
      - "8080:8000"          # host:8080 -> container:8000
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - app_network

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: nextjs_frontend
    ports:
      - "3000:3000"          # сайт будет на http://94.103.13.98:3000
    environment:
      - NEXT_PUBLIC_API_URL=http://94.103.13.98:8080
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    name: app_network
